{{define "passreset-change"}}
<!doctype html>
<style>
body, button, input {
  font-size: 1.5rem;
}
</style>
<h1>Set new password</h1>
<form method="POST">
  <input name="r" type="hidden" value="{{.Token}}">
  <p><label>New password: <input name="new" type="password" minlength="8" required></label></p>
  <button>Confirm</button>
</form>
<p><a href="/">Return to website</a></p>
<script src="/s/picoModal-3.0.0.min.js"></script>
<script src="/s/msg.js"></script>
{{end}}
