{{define "profile"}}
<!doctype html>
<style>
body, button, input {
  font-size: 1.5rem;
}
</style>
<h1>Profile</h1>
<form action="" method="post">
  <p><label>Name: <input name="name" value="{{.Name}}"></p>
  <p><label>Email: <input name="email" value="{{.Email}}"></p>
  <p><label>Address: <input name="address" value="{{.Address}}"></p>
  <p><label>Phone: <input name="phone" value="{{.Phone}}"></p>
  <hr>
  <p><button type="submit">Save</button>
</form>
<form action="/signout" method="post">
  <p><button type="submit">Sign out</button>
</form>
{{end}}
